body {
    margin : 0px;
    background-color: #ffcc00;
}

.div-2-Menu {
    background-color: #ffcc00;
    width: 100%;
    height: 90px;
    margin-bottom: 100px;
    
}

.formulario-button {
    cursor: pointer;
}

.formulario-button:hover {
    background-color: #CCCCCC;
}

.formulario-button {
    width: 100%;
    margin-top: 5%;
}

#bVoltarPagPrinc {
    margin-bottom: 3vh;
}

.div-colored {
   background-color: #dee2ff;
   margin: 0 auto;
   width: 400px;
   border-radius: 20px;
   box-shadow: 0 25px 30px rgba(0, 0, 0, 0.6);
}

.div-cria {
    margin: 0 auto;
    width: 200px;
}

.div-cria h1 {
    text-align: center;
    padding-top: 2px;
    margin-bottom: 0px;
}